#video{
    width: 100%;
    height: 500px;
    border: none;
}
.campus_maindiv{
    border: 1px solid lightgrey;
}
.campus_maindiv img{
    width: 100%;
}
.campus_maindiv h5, .campus_maindiv p{
    margin:20px;
}
.nav_bar{
    position:sticky;
    top:0;
    z-index: 999999;
}
.Acheivements_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.Acheivements_head i{
    float: right;
}
.acheivementtext span{
color: orange;
}